<h1>Addresses</h1>
<div class="tableContainer">
    <div>
        <mat-icon svgIcon="{{ iconType.Create }}" (click)="onOpenCreateDialog()" class="pointer" />
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Select column -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="onToggleAllSelection()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let address" style="width: 50px;">
                <mat-checkbox (change)="onAddressToggleSelection(address)" ></mat-checkbox>
            </td>
        </ng-container>

        <!-- Data Columns -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let address">{{ address.id }}</td>
        </ng-container>
        <ng-container matColumnDef="zipCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Zip Code</th>
            <td mat-cell *matCellDef="let address">{{ address.zipCode }}</td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
            <td mat-cell *matCellDef="let address">{{ address.city }}</td>
        </ng-container>
        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Street</th>
            <td mat-cell *matCellDef="let address">{{ address.street }}</td>
        </ng-container>
        <ng-container matColumnDef="houseNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>House Number</th>
            <td mat-cell *matCellDef="let address">{{ address.houseNumber }} {{ address.houseNumberAdditation}}</td>
        </ng-container>
        <ng-container matColumnDef="stateName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let address">{{ address.state.name }}</td>
        </ng-container>
        <ng-container matColumnDef="countryName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let address">{{ address.state.country.fullName }}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="detailsIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let address" style="width: 50px;">
                <mat-icon svgIcon="{{ iconType.Details }}" (click)="openEditDialog(address)" class="pointer"></mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="editIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let address" style="width: 50px;">
                <mat-icon svgIcon="{{ iconType.Edit }}" (click)="openEditDialog(address)" class="pointer"></mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="deleteIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let address" style="width: 50px;">
                <mat-icon svgIcon="{{ iconType.Delete }}" (click)="onDeleteAddress(address.i)" class="pointer"></mat-icon>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>