/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    @apply
        w-full
        content-center
}
h1, h2, h3, h4 {
    @apply
        font-semibold
        text-sky-800
        tracking-wide
        p-3
}

.tableContainer {
    overflow:auto;
    overflow-x: auto;
}

.pointer {
    cursor: pointer;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
