mat-form-field, div {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

.buttonCollection {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }