.messageBox {
    min-width: 120px;
    max-width: 320px;

    @apply
        rounded-lg
        absolute
        bottom-0
        right-0
        bg-green-600
        p-3
        m-2
        align-text-top
}

.title {
    @apply
        font-bold
        text-gray-100
        text-lg
}

.description {
    @apply
        pt-3
        text-gray-100
}

.closeIcon {
    @apply
        absolute
        right-1
        top-3
        text-white
        
}

.visiable {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}