<h1 style="text-align: center;">Create Country</h1> 
<form (ngSubmit)="createCountry()" [formGroup]="form">
    <mat-form-field id="fullName">
        <mat-label>Full name</mat-label>
        <input 
            #fullName
            matInput
            required
            formControlName="fullName"
        />
        <mat-error *ngIf="getFullName()?.value == null || getFullName()?.value == ''">Full name is required.</mat-error>
    </mat-form-field>
    <mat-form-field id="shortName">
        <mat-label>Short name</mat-label>
        <input 
            matInput
            required
            minlength="2"
            maxlength="2"
            formControlName="shortName"
            (keyup)="onKeyUpShortName()"
        />
        <mat-error *ngIf="getShortName()?.value == null || getShortName()?.value.length != 2">The short name must be two characters long.</mat-error>
    </mat-form-field>
    <div>
        <app-submit-button value="Create" [disabled]="!isFormValid()"></app-submit-button>
        <app-cancel-button value="Cancel"routerLink="/countries"></app-cancel-button>
    </div>
</form>
