<h1 style="text-align: center;">Edit Country</h1> 
<form (ngSubmit)="editCountry()" [formGroup]="form">
    <mat-form-field id="fullName">
        <mat-label>Full name</mat-label>
        <input 
            #fullNameElement
            matNativeControl
            formControlName="fullName"
        />
        <mat-error *ngIf="fullName?.errors?.['required']">Full name is required.</mat-error>
    </mat-form-field>
    <mat-form-field id="shortName">
        <mat-label>Short name</mat-label>
        <input 
            matInput
            matNativeControl
            formControlName="shortName"
            appUpperCase
        />
        <mat-error *ngIf="shortName?.hasError('required')">Short name is required.</mat-error>
        <mat-error *ngIf="shortName?.hasError('minlength')">The minumum lengh of short name is two.</mat-error>
        <mat-error *ngIf="shortName?.hasError('maxlength')">The maximum length of short name is two.</mat-error>
    </mat-form-field>
    <div>
        <app-submit-button value="Create" [disabled]="!form.valid"></app-submit-button>
        <app-cancel-button value="Cancel"routerLink="/countries"></app-cancel-button>
    </div>
</form>
