<h1>Vacation-Types</h1>
<div class="tableContainer">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select" >
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="onToggleAllSelection()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let vacationType" style="width: 50px;">
                <mat-checkbox 
                (change)="onVacationTypeToggleSelection(vacationType)"
                [checked]="selection.selected == vacationType.selected"></mat-checkbox>
            </td>
        </ng-container>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let vacationType">{{ vacationType.id }}</td>
        </ng-container>
        <ng-cotrainer matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let vacationType">{{ vacationType.name }}</td>
        </ng-cotrainer>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>